CONFIG_MSM_L2_ERP_PRINT_ACCESS_ERRORS=y
# CONFIG_MSM_L2_ERP_PORT_PANIC is not set
# CONFIG_MSM_L2_ERP_1BIT_PANIC is not set
CONFIG_MSM_CACHE_DUMP=y
CONFIG_MSM_CACHE_DUMP_ON_PANIC=y
CONFIG_TSPP=m
CONFIG_DVB_CORE=m
CONFIG_DVB_MPQ=m
CONFIG_DVB_MPQ_DEMUX=m
CONFIG_MSM_IOMMU_PMON=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_UID_STAT=y
# CONFIG_DETECT_HUNG_TASK is not set
CONFIG_SCHEDSTATS=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_LIST=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
# CONFIG_DEBUG_PAGEALLOC is not set
CONFIG_CPU_FREQ_SWITCH_PROFILER=y
CONFIG_DEBUG_LL=y
CONFIG_EARLY_PRINTK=y
CONFIG_ENABLE_DEFAULT_TRACERS=y
CONFIG_SEC_FILE_LEAK_DEBUG=y
CONFIG_CORESIGHT_ETM_DEFAULT_ENABLE=y
CONFIG_SLUB_DEBUG=y
CONFIG_SEC_LOGGER_BUFFER_EXPANSION=y
CONFIG_SEC_DEBUG_LMK_MEMINFO=y
CONFIG_SEC_DEBUG_ZERO_FD_CLOSE=y
CONFIG_SEC_DEBUG_SPINLOCK_PANIC=y
CONFIG_SYSFS=y
CONFIG_BLOCK=y
CONFIG_TRACING_SUPPORT=y
CONFIG_FTRACE=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_SEC_DEBUG_LIST_PANIC=y

# CONFIG_SEC_RESTRICT_ROOTING is not set
# CONFIG_SEC_RESTRICT_SETUID is not set
# CONFIG_SEC_RESTRICT_FORK is not set
# CONFIG_SEC_RESTRICT_ROOTING_LOG is not set
